@import "~bootstrap/scss/bootstrap.scss";
// @import "_first-screen.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
// * {
// 	outline: 1px solid red;
// }
body{

	font-family: Montserrat;

}

$green-color: #7fbd2e;
$green-color-dark: #529000;
$blue-color: #0184c7;
$green-color-light: #dbe285;

$blue-color-dark: blue;

// section#section1{

// 	&:before{

// 		height: 100vh;
// 		display: block;
// 		content: " ";
// 	}
// }



#page-container{

	position: relative;


}

// #display{

// 	background-color: red;
// 	color: white;
// 	min-height: 60px;
// 	padding: 5px;
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	width: 100%;
// }


#header-top-menu{

	position: absolute;

	left: 50%;
	transform: translateX(-50%);

	z-index: 1;

	.navbar{

		padding: 0;
	}

	width: 100%;
	max-width: 100%;
	padding: 0;

	// @include media-breakpoint-up(md){

	// 	width: 100%;
	// 	max-width: 100%;
	// 	padding: 0;


	// }

	nav#top-menu{

		padding-top: 10px;
		background-color: transparent;

		.nav-link, .dropdown{

			color: white;
			text-transform: uppercase;
			font-size: 12px;
			white-space: nowrap;
			cursor: pointer;
		}

		.dropdown>.nav-link{

			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
            padding-right: 12px;
			padding-bottom: 12px;

		}


		.dropdown-menu{

			background-color: $green-color-dark;
		}

		.logo{

			height: 40px;
		}

		button{

			color: white;

			&:focus{
				outline: 0;
			}
			// background-color: red;
			
		}

		.navbar-brand{

			margin-right: 50px;
		}

	}


	nav#top-menu.menu-show{

		background-color: $green-color-dark;
		
	}

	#top-menu #navbar1 ul{

		@include media-breakpoint-up(lg){

			padding-top: 8px;
		}

		flex-grow: 1;
		justify-content: flex-end;

		li>a{
			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
			padding-right: 12px;
			padding-bottom: 12px;

		// background-color: red;
		}
		li:last-child>a{
			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
			padding-right: 8px;

		// background-color: red;
		}
	}

	.nav-link{

		position: relative;
	}

	.nav-link:hover:after{
		
		@include media-breakpoint-up(lg){

			display: inline-block;
			box-sizing: content-box;
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			background-color: $blue-color;
			bottom: 6px;
			width: 100%;
			height: 3px;
			content: " ";
			// display: table;
		}
	}

	@include media-breakpoint-down(md){
			
		// #top-menu #navbar1 ul .nav-link{

		// 	text-align: center;
		// 	padding-right: 8px;
		// }




		.nav-item{

			border-bottom: 1px solid lighten($green-color-dark, 5%) 
		}


		.nav-item .dropdown.show a{

			border-bottom: 1px solid lighten($green-color-dark, 5%);
			
			&:last-child{ 
				border-bottom: 0; 
			}
		}



		.nav-item .nav-link:hover{
			background-color: $blue-color;
			color: white;
		}
		
		.dropdown-menu > a{
		// .dropdown li a.nav-link{
            // text-align: right;
			padding-left: 32px;
		}
		.dropdown-menu.show{
	// .dropdown li a.nav-link{
			padding: 0;
			border: 0;
			background-color: $green-color-dark;
		}

		nav#top-menu .dropdown-menu.show .nav-link:hover{
	// .dropdown li a.nav-link{

			background-color: $blue-color;
			color: white;
		}

		.navbar-brand{

			padding-left: 16px;
		}


	}


}


#header-top-menu{

	@include media-breakpoint-up(lg){

		// width: calc(map-get($container-max-widths, lg));
		width: calc(100% - 100px);
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		padding: 0;

	}
}


#header-top-menu nav#top-menu.menu-show{

	@include media-breakpoint-up(lg) 
	{

		background-color: transparent;
	}
}









#contacts{

	color: #fff;
	background-image: url("../images/green-blue-gradient.png");
	background-size: 10px 100%;
	background-repeat: repeat no-repeat;

	.map{

		max-height: 300px;
		width: 100vw;
	}

}


.footer{


	position: relative;

	padding-bottom: 40px;

	color: #fff;

	&:before {
	  content: " ";
	  position: absolute;
	  width: 100%;
	  height: 100%;

	  background: url("../images/green-blue-gradient.png") 0 0 repeat-x;

	  background-size: 100% 100%;
	  transform: rotate(180deg);
	  z-index: -1;
	}



	a{
		text-decoration: none;
		color: #fff;
	}

	&>div{
		// outline: 1px solid red;
		padding-top: 30px;
	}

	.footer-logo, 
	.footer-info, 
	.footer-services, 
	.footer-menu,
	.footer-address,
	.footer-phones{

		flex: 1 1 calc(50% - 30px);
		padding: 15px;
	}


	.footer-phones{

		flex-basis: 100%;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}

	.footer-logo{

		flex-basis: calc(30% - 30px);

		img{

			width: 100%;
			max-width: 145px;
		}
	}


	.footer-info{

		font-size: 15px;
		line-height: 20px;

	}

	.footer-social-media{

		flex: 0 1 auto;
		padding: 15px;
	}

	.footer-services, .footer-menu{
		display: none;
	}

	.footer-address{

	}

	@media (min-width: 400px){

		.footer-logo{

			flex-basis: calc(20% - 30px);

		}

	}

	@media (min-width: 450px){

		.footer-logo{

			flex-basis: calc(15% - 30px);

			order: 1;

			flex: 0 0 50%;

			max-width: 200px;

		}


		.footer-phones{

			order: 2;
			flex-basis: 50%;

			text-align: right;

		}

		.footer-info{

			flex-basis: 100%;
			text-align: center;
			order: 3;
			font-size: 20px;
		}

		.footer-address{

			order: 4;
			text-align: right;
			font-size: 20px;
		}

		.footer-social-media{

			order: 5;
			text-align: left;
		}

	}
}



@include media-breakpoint-up(sm){

	.footer .row{

		// padding-top: 60px;

		// flex-direction: column;

		position: relative;

		flex-wrap: wrap;

		height: 220px;

		.footer-logo{

			flex-basis: auto;


			order: 2;

			width: 25%;

			position: absolute;
			top: 0;

			z-index: 10;

		}


		.footer-info{

			position: absolute;
			flex-basis: auto;
			text-align: left;
			order: 1;
			font-size: 15px;
			width: 25%;

			padding-bottom: 0px;
			padding-top: 85px;

			span{

				display: block;
			}
		}


		.footer-address{
			position: absolute;

			order: 2;
			text-align: right;
			font-size: 15px;

			flex-basis: auto;

			width: 41.5%;
			top: 115px;
			padding-top: 4px;
			padding-bottom: 0;
			right: 0;
		}


		.footer-social-media{

			position: absolute;
			width: auto;
			order: 5;
			text-align: left;
			top: 135px;
			right: 0px;
		}
		

		.footer-phones{


			flex-basis: auto;
			width: 41.5%;

			flex-shrink: 0;
			order: 6;

			text-align: right;

			div{

				display: block;

				&:after{

					content: ", ";
				}

				&:last-child:after{

					content: "";
				}

			}

		}


		.footer-menu{

			order: 3;
			flex-basis: auto;
			display: block;
			flex-shrink: 1;
			width: 16.6%;
			flex-grow: 0;
			margin-left: 25%;
			font-size: 12px;
		}

		.footer-services{

			font-size: 12px;
			flex-basis: auto;
			order: 4;
			margin-left: auto;
			display: block;
			flex-shrink: 1;
			flex-grow: 0;
			width: 16.6%;
			margin-left: 0;
		}

	}
}

@media(min-width: 700px){

	.footer .row{
		
		.footer-phones{

			width: 33.3%;
		}


		.footer-menu{

			margin-left: 33.333%;
		}	

	}
			
}






@include media-breakpoint-up(md){
	
	.footer{	

		
		&>div{

			text-align: center;
			// justify-content: center;
			max-width: map-get($container-max-widths, md);

			&>.row{

				text-align: left;
			}
	
		}
	}
}










@include media-breakpoint-up(lg){
	
	.footer{	

		
		&>div{

			text-align: center;
			// justify-content: center;
			max-width: map-get($container-max-widths, lg);

			&>.row{

				text-align: left;
			}
	
		}




		.row>.footer-address{

			text-align: left;
			font-size: 19px;
			width: 33%;
			top: 125px;
			left: 15px;
			padding: 0;
			margin: 0;
		}


		.row>.footer-social-media{

			position: absolute;
			width: auto;
			order: 5;
			text-align: left;
			top: 150px;
			left: 0px;

			// float: right;
		}



		.footer-phones{


			font-size: 30px;

			div{

				display: block;

				&:after{

					content: ", ";
				}

				&:last-child:after{

					content: "";
				}


			}
		}

	}

}



@include media-breakpoint-up(xl){
	
	.footer{	

		
		&>div{

			text-align: center;
			// justify-content: center;
			max-width: map-get($container-max-widths, xl);

			&>.row{

				text-align: left;
			}
	
		}




		.row>.footer-address{

			text-align: left;
			font-size: 19px;
			width: 33%;
			top: 125px;
			left: 15px;
			padding: 0;
			margin: 0;
		}


		.row>.footer-social-media{

			position: absolute;
			width: auto;
			order: 5;
			text-align: left;
			top: 150px;
			left: 0px;

			// float: right;
		}



		.footer-phones{


			font-size: 30px;

			div{

				display: block;

				&:after{

					content: ", ";
				}

				&:last-child:after{

					content: "";
				}


			}
		}

	}

}




.breadcrumbs{

	padding-top: 30px;
	padding-bottom: 30px;

	width: 100%;

	a{
		text-decoration: none;
		color: $blue-color;
		font-weight: bold;


	}

	.breadcrumbs-delimiter{

		&:before{

			content: "→";

			padding-left: 2px;
			padding-right: 2px;
		}
	}
}

.content{

	// padding-bottom: 0 30px 40px 30px;
	padding-bottom: 30px;
}

h1{

	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lead{

	// font-weight: bold;
}

.content .container{

	max-width: 720px;

}