@import "~bootstrap/scss/bootstrap.scss";
// @import "_first-screen.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
// * {
// 	outline: 1px solid red;
// }
body{

	background-color: gray;

	font-family: Montserrat;

}

$green-color: #7fbd2e;
$green-color-dark: #529000;
$blue-color: #0184c7;
$green-color-light: #dbe285;

// section#section1{

// 	&:before{

// 		height: 100vh;
// 		display: block;
// 		content: " ";
// 	}
// }



#page-container{

	position: relative;

	&>.row:before{
		height: 100vh;
		display: block;
		content: " ";		
	}	
}

// #display{

// 	background-color: red;
// 	color: white;
// 	min-height: 60px;
// 	padding: 5px;
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	width: 100%;
// }


#header-top-menu{

	.navbar{

		padding: 0;
	}

	width: 100%;
	max-width: 100%;
	padding: 0;

	@include media-breakpoint-up(md){

		width: 100%;
		max-width: 100%;
		padding: 0;


	}

	nav#top-menu{

		padding-top: 10px;
		background-color: transparent;

		.nav-link, .dropdown{

			color: white;
			text-transform: uppercase;
			font-size: 12px;
			white-space: nowrap;
			cursor: pointer;
		}

		.dropdown>.nav-link{

			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
            padding-right: 12px;
			padding-bottom: 12px;

		}


		.dropdown-menu{

			background-color: $green-color-dark;
		}

		.logo{

			height: 40px;
		}

		button{

			color: white;

			&:focus{
				outline: 0;
			}
			// background-color: red;
			
		}

		.navbar-brand{

			margin-right: 50px;
		}

	}


	nav#top-menu.menu-show{

		background-color: $green-color-dark;
		
	}

	#top-menu #navbar1 ul{

		@include media-breakpoint-up(lg){

			padding-top: 8px;
		}

		flex-grow: 1;
		justify-content: flex-end;

		li>a{
			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
			padding-right: 12px;
			padding-bottom: 12px;

		// background-color: red;
		}
		li:last-child>a{
			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
			padding-right: 8px;

		// background-color: red;
		}
	}

	.nav-link{

		position: relative;
	}

	.nav-link:hover:after{
		
		@include media-breakpoint-up(lg){

			display: inline-block;
			box-sizing: content-box;
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			background-color: $blue-color;
			bottom: 6px;
			width: 100%;
			height: 3px;
			content: " ";
			// display: table;
		}
	}

	@include media-breakpoint-down(md){
			
		// #top-menu #navbar1 ul .nav-link{

		// 	text-align: center;
		// 	padding-right: 8px;
		// }




		.nav-item{

			border-bottom: 1px solid lighten($green-color-dark, 5%) 
		}


		.nav-item .dropdown.show a{

			border-bottom: 1px solid lighten($green-color-dark, 5%);
			
			&:last-child{ 
				border-bottom: 0; 
			}
		}



		.nav-item .nav-link:hover{
			background-color: $blue-color;
			color: white;
		}
		
		.dropdown-menu > a{
		// .dropdown li a.nav-link{
            // text-align: right;
			padding-left: 32px;
		}
		.dropdown-menu.show{
	// .dropdown li a.nav-link{
			padding: 0;
			border: 0;
			background-color: $green-color-dark;
		}

		nav#top-menu .dropdown-menu.show .nav-link:hover{
	// .dropdown li a.nav-link{

			background-color: $blue-color;
			color: white;
		}

		.navbar-brand{

			padding-left: 16px;
		}


	}


}


#header-top-menu{

	@include media-breakpoint-up(lg){

		// width: calc(map-get($container-max-widths, lg));
		width: calc(100% - 100px);
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		padding: 0;

	}
}


#header-top-menu nav#top-menu.menu-show{

	@include media-breakpoint-up(lg) 
	{

		background-color: transparent;
	}
}






 






.fullscreen-background{

	position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -1;
    height: 100vh;
    width: 100%;
 	overflow: hidden;

	video, img{

		height: 100vh;
	}

	.overlay {

	    background-color: rgba(0,60,90,.65);
	    position: absolute;
	    top:0;
	    left:0;
	    overflow: hidden;
	    width: 100%;
	    height: 100vh;
	    z-index: 4;
	}

	@media (min-aspect-ratio: 730/413) {

	 
	    // img.fullscreen-bg__video {

	    //    width: 100%;
	    //    // border: 30px solid red;
	    //     height: auto;
	    // }

	    video, img {

	       width: 100%;
	       // border: 30px solid red;
	        height: auto;
	    }
	}	

}

.first-screen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

}

.top-info {
	text-align: right;
	width: 100%;
	position: absolute;
    color: $green-color-light;
    font-weight: bold;
	// top: 10px;
	bottom: 10px;
    right: 0;
    height: 25vh;

	.phones{
		text-align: left;
		font-size: 12px;
		line-height: 18px;
		position: absolute;

		span{

			margin-left: 40px;
		}

		// bottom: 30px;

		&:before{
			// display: inline-block;
			position: absolute;
			left: 16px;
			width: 20px;
			height: 100%;
			background-image: url(images/info-icons.svg);
			background-position: 0 50%;
			background-size: 90px;
			background-repeat: no-repeat;
			content: " ";
			// background-color: red;

		}
	}

}
















@media (min-width:1){


}

@media (min-width: map-get($grid-breakpoints, sm)) and (max-height:500px){

}




@media (min-width:500px) and (max-height:500px){


}




@media (max-width: map-get($grid-breakpoints, sm) - .02){


}




@media (min-width: map-get($grid-breakpoints, sm)){


}





@media (min-width: map-get($grid-breakpoints, md)){

}




@media (min-width: map-get($grid-breakpoints, lg)){

}



@media (min-width: map-get($grid-breakpoints, xl)){

}







@media (min-width: map-get($grid-breakpoints, lg)) and (max-height:500px){


}

@media (min-width: map-get($grid-breakpoints, sm)) and (max-height:400px){



}

@media (max-width: map-get($grid-breakpoints, md)) and (max-height:450px){


}


@media (max-width: map-get($grid-breakpoints, sm) - .02) and (max-height:450px){


}

section .h2{

	
}

.ambulance{


}
