@import "~bootstrap/scss/bootstrap.scss";
// @import "_first-screen.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
// * {
// 	outline: 1px solid red;
// }
body{



	font-family: Montserrat;

}

$green-color: #7fbd2e;
$green-color-dark: #529000;
$blue-color: #0184c7;
$green-color-light: #dbe285;

$blue-color-dark: blue;

// section#section1{

// 	&:before{

// 		height: 100vh;
// 		display: block;
// 		content: " ";
// 	}
// }



#page-container{

	position: relative;


}

// #display{

// 	background-color: red;
// 	color: white;
// 	min-height: 60px;
// 	padding: 5px;
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	width: 100%;
// }


#header-top-menu{

	position: absolute;

	left: 50%;
	transform: translateX(-50%);

	.navbar{

		padding: 0;
	}

	width: 100%;
	max-width: 100%;
	padding: 0;

	// @include media-breakpoint-up(md){

	// 	width: 100%;
	// 	max-width: 100%;
	// 	padding: 0;


	// }

	nav#top-menu{

		padding-top: 10px;
		background-color: transparent;

		.nav-link, .dropdown{

			color: white;
			text-transform: uppercase;
			font-size: 12px;
			white-space: nowrap;
			cursor: pointer;
		}

		.dropdown>.nav-link{

			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
            padding-right: 12px;
			padding-bottom: 12px;

		}


		.dropdown-menu{

			background-color: $green-color-dark;
		}

		.logo{

			height: 40px;
		}

		button{

			color: white;

			&:focus{
				outline: 0;
			}
			// background-color: red;
			
		}

		.navbar-brand{

			margin-right: 50px;
		}

	}


	nav#top-menu.menu-show{

		background-color: $green-color-dark;
		
	}

	#top-menu #navbar1 ul{

		@include media-breakpoint-up(lg){

			padding-top: 8px;
		}

		flex-grow: 1;
		justify-content: flex-end;

		li>a{
			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
			padding-right: 12px;
			padding-bottom: 12px;

		// background-color: red;
		}
		li:last-child>a{
			padding-top: 12px;
			font-size: 12px;
			padding-left: 12px;
			padding-right: 8px;

		// background-color: red;
		}
	}

	.nav-link{

		position: relative;
	}

	.nav-link:hover:after{
		
		@include media-breakpoint-up(lg){

			display: inline-block;
			box-sizing: content-box;
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			background-color: $blue-color;
			bottom: 6px;
			width: 100%;
			height: 3px;
			content: " ";
			// display: table;
		}
	}

	@include media-breakpoint-down(md){
			
		// #top-menu #navbar1 ul .nav-link{

		// 	text-align: center;
		// 	padding-right: 8px;
		// }




		.nav-item{

			border-bottom: 1px solid lighten($green-color-dark, 5%) 
		}


		.nav-item .dropdown.show a{

			border-bottom: 1px solid lighten($green-color-dark, 5%);
			
			&:last-child{ 
				border-bottom: 0; 
			}
		}



		.nav-item .nav-link:hover{
			background-color: $blue-color;
			color: white;
		}
		
		.dropdown-menu > a{
		// .dropdown li a.nav-link{
            // text-align: right;
			padding-left: 32px;
		}
		.dropdown-menu.show{
	// .dropdown li a.nav-link{
			padding: 0;
			border: 0;
			background-color: $green-color-dark;
		}

		nav#top-menu .dropdown-menu.show .nav-link:hover{
	// .dropdown li a.nav-link{

			background-color: $blue-color;
			color: white;
		}

		.navbar-brand{

			padding-left: 16px;
		}


	}


}


#header-top-menu{

	@include media-breakpoint-up(lg){

		// width: calc(map-get($container-max-widths, lg));
		width: calc(100% - 100px);
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		padding: 0;

	}
}


#header-top-menu nav#top-menu.menu-show{

	@include media-breakpoint-up(lg) 
	{

		background-color: transparent;
	}
}











.fullscreen-background{

	position: absolute;
	top: 0;
	left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -1;
    height: 100vh;
    width: 100%;
 	overflow: hidden;

	video, img{

		height: 100vh;
	}

	.overlay {

	    background-color: rgba(0,60,90,.65);
	    position: absolute;
	    top:0;
	    left:0;
	    overflow: hidden;
	    width: 100%;
	    height: 100vh;
	    z-index: 4;
	}

	@media (min-aspect-ratio: 730/413) {

	 
	    // img.fullscreen-bg__video {

	    //    width: 100%;
	    //    // border: 30px solid red;
	    //     height: auto;
	    // }

	    video, img {

	       width: 100%;
	       // border: 30px solid red;
	        height: auto;
	    }
	}	

}

.first-screen{
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}













.block-offer{
	
	// display: table-cell;

	display: flex;
	height: 100%;
	padding-top: 60px;
	flex-direction: column;
	justify-content: center;
	oreder: 1;
    color: $green-color-light;
    text-align: center;
    font-size: 18px;
    // margin-top: auto;
    align-content: center;
    align-items: center;

}

.block-info{

    color: $green-color-light;

    padding-bottom: 10px;

	order: 2;

	.phones{

		position: relative;

		// margin-left: 25px;
		// padding-left: 25px;
		padding-top: 10px;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;

		span{

			font-weight: bold;
			white-space: nowrap;
			display: inline-block;
			padding-right: 5px;
			
			&:after{
				content: ", ";
			}

			&:last-child:after{

				content: "";
			}
		}


		&:before{
			display: inline-block;
			position: relative;
			top: 5px;
			// left: 5px;
			width: 20px;
			height: 20px;

			background-image: url(images/phone.svg);
			background-position: 0 50%;
			background-size: 15px;
			background-repeat: no-repeat;
			content: " ";
		}		
	}

	.address, .shedule, .social-media{

		display: none;
	}


	.block-clinic-name{


		order: 2;	
		padding-left: 10px;
		padding-right: 10px;
		

		line-height: 15px;
		// background-color: red;

		// padding-right: 15px;
		text-align: center;
		font-size: 13px;
		color: white;
		min-width: 100%;
		font-weight: normal;


		.clinic{
			display: inline;

		}	

		.name{

			display: inline;

		}
	}


}


@media (min-width: 320px) and (min-height: 320px){
		
	.block-offer{

		font-size: 25px;
		// background-color: RED;
	}

}

@media (min-height: 480px){
		
	.block-offer{

		font-size: 30px;
		// background-color: RED;
	}


	.block-info{

		text-align: center;
		padding-bottom: 50px;


		.block-clinic-name{

				font-size: 16px;
				// background-color: red;
		}		

		.shedule, .address, .social-media{


			display: block;

			.sup{
				font-size: 70%;
				position: relative;
				top: -3px;
			}
		}

		.phones{

			font-size: 20px;
		}


		.address{

			order: 2;
			font-size: 10px;
			// width: auto;
			height: 15px;
			padding-right: 8px;
			position: relative;

			display: inline-block;

			font-weight: normal;
			// display: 
			// padding-left: 15px;

			&:before{
				left: 0px;
				top: 3px;
				position: relative;
				width: 15px;
				height: 15px;		
				background-image: url(images/geo.svg);
				background-position: 0 50%;
				background-size: 10px;
				background-repeat: no-repeat;
				content: " ";
				display: inline-block;
				margin-right: -2px;
			}


		}

		.shedule{
			// width: auto;

			font-size: 10px;
			// width: auto;
			height: 15px;
			padding-right: 10px;
			position: relative;

			display: inline-block;

			font-weight: normal;

			&:before{
				left: 0px;
				top: 2px;
				position: relative;
				width: 15px;
				height: 15px;	
				display: inline-block;	
				background-image: url(images/clock.svg);
				background-position: 0 50%;
				background-size: 13px;
				background-repeat: no-repeat;
				content: " ";

			}
		}


		.social-media{

			order: 4;	

			width: 20px;
			height: 20px;
			display: inline-block;
			position: relative;
			top: 5px;

			& a{
				display: inline-block;
				width: 20px;
				height: 20px;
				// position: absolute;
				background-image: url(images/vk.svg);
				background-position: 0 50%;
				background-size: 20px;
				background-repeat: no-repeat;
				// background-color: red;
			}	

		}
	}
}



@include media-breakpoint-up(sm){


	@media (min-height: 280px){

		.block-offer{

			font-size: 35px;
			// background-color: red;		
		}
	}
}



@include media-breakpoint-up(sm){


	@media (min-height: 360px){

		.block-offer{

			font-size: 45px;
			// background-color: red;		
		}
	}
}



@include media-breakpoint-up(md){


	@media (min-height: 480px){

		.block-offer{

			font-size: 50px;
			// background-color: red;		
		}
	}
}



@include media-breakpoint-up(lg){


	@media (min-height: 480px){

		.block-offer{

			font-size: 60px;
			// background-color: red;		
		}
	}
}




@media (min-width: map-get($grid-breakpoints, lg)){

}



@media (min-width: map-get($grid-breakpoints, xl)){

}







@media (min-width: map-get($grid-breakpoints, lg)) and (max-height:500px){


}

@media (min-width: map-get($grid-breakpoints, sm)) and (max-height:400px){



}

@media (max-width: map-get($grid-breakpoints, md)) and (max-height:450px){


}


@media (max-width: map-get($grid-breakpoints, sm) - .02) and (max-height:450px){


}

.page-container{

	// text-align: center;

	h2{

		margin-top: 40px;
		margin-bottom: 20px;

		font-size: 30px;
		text-align: center;

		// display: flex;
		// justify-content: center;
		// align-content: center;
		// align-items: center;
		// overflow: hidden;




		// @include media-breakpoint-up(sm){
			
		// 	&:before, &:after{

		// 			display: block;
		// 			width: 150px;
		// 			height: 2px;
		// 			content: " ";
		// 			background-color: $green-color;
		// 			margin: 30px;
		// 		}
		// 	}

		@include media-breakpoint-up(md){

			margin-top: 60px;
			margin-bottom: 30px;

			font-size: 45px;
		}	

		@include media-breakpoint-up(xl){

			font-size: 50px;
		}
	}
}

#ambulance, #facts-about-clinic{

	h2, ul{
		// width: 100%;
	}
}

#ambulance{

	padding-bottom: 30px;


	ul{



			// outline: 1px solid green;



		// justify-content: center;
		display: flex;
		list-style: none;
		margin: auto;
		padding: 0;
		flex-wrap: wrap;
		// width: 100%;


		@media (min-width: 320px){

			// flex-base: 150px;
			flex-basis: 70%;
			flex-grow: 0;

			// background-color: green;


		}


		// @media (min-width: map-get($container-max-widths, sm)){


		// 	outline: 1px solid red;

		// 	// flex-base: 150px;
		// 	flex-basis: 100% !important;
		// 	flex-grow: 1;

		// 	// background-color: green;


		// }


		li{

			
			// outline: 1px solid red;


			position: relative;
			margin-top: 10px;
			margin-bottom: 10px;


			
			// padding-left: 50px;

			display: flex;
			// flex-grow: 1;
			flex-shrink: 0;
			width: 100%;
			// width: 20px;
			line-height: 26px;
			font-size: 20px;
			align-content: flex-start;
			align-items: flex-start;






			@include media-breakpoint-up(md){

					width: 50%;

					justify-content: center;


			}



			div{

				width: calc(100% - 75px);
				padding-top: 10px;
			}

			&:before{
				width: 45px;
				// height: 100%;
				height: 45px;
				margin-right: 10px;
				display: inline-block;

				background-image: url("images/services_icons.png");
				background-size: 345px;
				background-position: 8px;
				content: " ";
				// display: block;
				background-repeat: no-repeat;
			}
	

		}


	}


	#diagnostic{


		&:before{


			background-image: url("images/services_icons.png");

		}
	}
	// #traumatology
	// #vaccination
	// #dentistry
	// #therapy
	// #visual-diagnosis

}








section#popular-services{
	
	background-color: $green-color-dark;
	color: white;

	// background-image: url("images/green-blue-gradient.png");
	// background-repeat: 
	background-size: 10px 100%;
	background-repeat: repeat no-repeat;	

	position: relative;
	overflow: hidden;

	&::before {
	  content: " ";
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  // top: -50%;
	  // left: -50%;
	  // z-index: -1;
	  background: url("images/green-blue-gradient.png") 0 0 repeat-x;
	  // background: url("images/sterilization.jpg") 0 0 repeat;
	  background-size: 100% 100%;
	  transform: rotate(180deg);
	}


	&>div.container-fluid{
		text-align: center;
		margin: 0;
		padding: 0;

		.row{

			margin: 0;
			padding: 0;
			text-align: center;
		}
	}

}


#popular-services-slider{

	width: 100%;
	padding: 0;
	margin: 0 auto 60px;
	padding-top: 10px;

	max-width: calc(100vw - 90px);

	// position: relative;

	// right: 16px;

	// transform: translateX(5vw);

	.slick-list.draggable{

		z-index: 0;
	}

	.slick-dots{
		
		width: auto;
		// margin: auto;

		left: 50%;
		transform: translateX(-50%);

		li{

			background-color: rgba(255,255,255,.7);
			// border: 3px solid #fff;
			border-radius: 16px;
			

			button:before{

				color: $green-color-dark;
				font-size: 16px;
				top: 1px;
				left: 0px;
			}
		}

		bottom: -38px;
	}

	.slick-arrow{

		// top: 0;
		z-index: 20;
		width: 30px;
		height: 30px;
		// transform: translateY(200px);
	}

	.slick-prev{
		left: -35px;
		
	}
	.slick-next{
		right: -35px;

	}

	.slick-next::before, .slick-prev::before{

		color: $green-color;
		font-size: 30px;
	}

	a {

		text-decoration: none;
		color: #fff;

	}

	// *{
	// 	outline: 1px solid red;
	// }

	.popular-services__slide{

		position: relative;
		padding-bottom: 20px;

		// width: 230%;
		// background-color: $green-color-dark;
		// min-height: 400px;

		background-image: url("images/green-blue-gradient.png");
		// background-repeat: 
		background-size: 10px 100%;
		background-repeat: repeat no-repeat;

		[src*="sterilization"]{

			transform: translateX(-15%);
		}


		.illustration{

			display: none;

			@media (min-width: 480px) and (min-height: 600px){
				
				display: block;


				border-radius: 50%;
				width: 250px;
				height: 250px;
				overflow: hidden;
				margin: auto;
				margin-top: 30px;
			}

			img{

				height: 100%;
			}

			@include media-breakpoint-up(sm){

				width: 200px;
				height: 200px;
			}
		}




		h3{

			margin-top: 20px;
			margin-bottom: 15px;
			position: relative;

			&:after{
				content: " ";
				display: block;
				position: relative;
				top: 8px;
				left: 50%;
				transform: translateX(-50%);
				background-color: $blue-color;
				height: 3px;
				width: 70%;
			}
		}


		.description{

			margin-top: 25px;
			padding-right: 15px;
			padding-left: 15px;
			text-align: left; 
			font-size: 18px;
			// z-index: -1;

			@media (min-width: 480px){

				padding-left: 35px;
			}


		}
		
	}
	


	img.popular-services__slider__placeholder{

		width: 100%;
		height: auto;
	}
	// h2{
	// 	width: 30%;
	// 	min-height: 100px;
	// }
}







#popular-services-slider .popular-services__slide{ 

	@include media-breakpoint-up(sm){
		
		padding-bottom: 40px;

		a{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			// align-items: stretch;
		}

		h3{

			width: 100%;
			flex-shrink: 0;
		}

		.illustration{

			margin-left: 35px;
			margin-right: 20px;
			width: 200px;
			height: 200px;

			// border: 1px solid red;
			// border: 5px solid red;
		}

		.description{
			display: flex;
			// align-items: stretch;
			height: 100%; 
			flex-grow: 1;
			flex-basis: calc(50% - 40px);
			padding-left: 20px;
			padding-right: 35px;
			padding-bottom: 30px;
			// width: 40%;
			// border: 1px solid red;
		}
	}


}


@include media-breakpoint-up(lg){

	#popular-services-slider{

		max-width: 75vw;
		// border: 30px solid red;
	}

	#popular-services-slider .popular-services__slide{ 

		.description{

			font-size: 25px;
		}
	}
}


@include media-breakpoint-up(xl){

	#popular-services-slider .popular-services__slide{ 

		.description{

			font-size: 30px;
		}

		.illustration{

			margin-left: 35px;
			margin-right: 20px;
			width: 400px;
			height: 400px;

			// border: 1px solid red;
			// border: 5px solid red;
		}

		h3{

			font-size: 40px;
		}
	}

}










#news{

		a{

			text-decoration: none;
			color: #fff;
		}

		background-image: url("images/green-blue-gradient.png");
		background-size: 10px 100%;
		background-repeat: repeat no-repeat;


		color: #fff;

		padding-bottom: 35px;

		.news-item{
			
			padding-left: 20px;
		}

		.news-header{

			margin-top: 16px;
		}

		.news-date{
			
			font-size: 12px;
			span{

				&:after{
					content: " ";
				}

				// padding-right: 5px;
			}
		}
		
		.news-lead{
			padding-top: 10px;
		}

		@media (min-width: 480px) {

			.news-item{
				
				padding-left: 35px;
				padding-right: 35px;
			}

		}


		@media (min-width: map-get($container-max-widths, lg)) {

			.news-item{
				
				padding-left: 20px;
				padding-right: 20px;
			}

		}









		.btn.news-all{
			
			// border: 1px solid #fff;
			margin: auto;
			margin-top: 35px;
			background-color: $green-color-dark;
			color: #fff;
			font-size: 18px;

		}
}














#articles{

		a{

			text-decoration: none;
			color: inherit;
		}

		padding-bottom: 35px;

		.articles-item{
			
			padding-left: 20px;
		}

		.articles-header{

			margin-top: 16px;
		}

		.articles-date{
			
			font-size: 12px;
			span{

				&:after{
					content: " ";
				}

				// padding-right: 5px;
			}
		}
		
		.articles-lead{
			padding-top: 10px;
		}

		.btn.articles-all{
			
			// border: 1px solid #fff;
			// flex-grow: 1;
			margin: auto;
			margin-top: 35px;
			background-color: $green-color-dark;
			// background-color: red;
			color: #fff;
			font-size: 18px;

		}


		@media (min-width: 480px) {

			.articles-item{
				
				padding-left: 35px;
				padding-right: 35px;
			}
		}

		@media (min-width: map-get($container-max-widths, lg)) {

			.articles-item{
				
				padding-left: 20px;
				padding-right: 20px;
			}
		}




}


























#facts-about-clinic{

	.facts{


		width: 80%;
		margin: auto;
		margin-top: 30px;
		display: flex;
		// justify-content: flex-start;
		justify-content: center;



		flex-wrap: wrap;

		.fact{
			
			text-align: center;

			display: flex;
			justify-content: center;


			margin: auto;
			margin-top: 0;
			// margin-top: 10px;
			// outline: 1px solid blue;
			flex-wrap: wrap;
			width: 60%;
			max-width: 150px;


			margin-bottom: 30px;

			@include media-breakpoint-up(lg){

				margin: 30px;
			}




		}

		.fact span:nth-child(1){
			height: 80px;
			width: 100%;
			// border: 1px solid $green-color-dark;
			background-color: $green-color-dark;
			color: white;
			font-size: 35px;
			line-height: 80px;
			
		}

		.fact span:nth-child(2){

			width: 100%;
			font-size: 25px;
			font-weight: bold;
		}

		.fact span:nth-child(3){

			width: 100%;
		}

	}
}


#contacts{

	color: #fff;
	background-image: url("images/green-blue-gradient.png");
	background-size: 10px 100%;
	background-repeat: repeat no-repeat;

	.map{

		max-height: 300px;
		width: 100vw;
	}

}


.footer{

	// outline: 1px solid red;

	// * {
	// 	outline: 1px solid red;
	// } 

	// display: flex;
	
	position: relative;

	// overflow: hidden;

	padding-bottom: 40px;

	color: #fff;

	// flex-wrap: wrap;

	// justify-content: space-around;


	&:before {
	  content: " ";
	  position: absolute;
	  width: 100%;
	  height: 100%;

	  // background-color: red;
	  // top: -50%;
	  // left: -50%;
	  // z-index: -1;
	  background: url("images/green-blue-gradient.png") 0 0 repeat-x;
	  // background: url("images/sterilization.jpg") 0 0 repeat;
	  background-size: 100% 100%;
	  transform: rotate(180deg);
	  z-index: -1;
	}



	a{
		text-decoration: none;
		color: #fff;
	}


	// height: 100vh;

	.footer-logo, 
	.footer-info, 
	.footer-services, 
	.footer-menu,
	.footer-address,
	.footer-phones{

		flex: 1 1 calc(50% - 30px);
		padding: 15px;
	}


	.footer-phones{

		flex-basis: 100%;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}

	.footer-logo{

		flex-basis: calc(30% - 30px);

		img{

			width: 100%;
			max-width: 145px;
		}

		@include media-breakpoint-up(sm){


		}
	}


	.footer-info{

		font-size: 15px;
		line-height: 20px;

	}

	.footer-social-media{

		flex: 0 1 auto;
		padding: 15px;
	}

	.footer-services, .footer-menu{
		display: none;
	}

	.footer-address{

	}

	@media (min-width: 400px){

		.footer-logo{

			flex-basis: calc(20% - 30px);

		}

	}

	@media (min-width: 450px){

		.footer-logo{

			flex-basis: calc(15% - 30px);

			order: 1;

			flex: 0 0 50%;

			max-width: 200px;

		}


		.footer-phones{

			order: 2;
			flex-basis: 50%;

			text-align: right;

		}

		.footer-info{

			flex-basis: 100%;
			text-align: center;
			order: 3;
			font-size: 20px;
		}

		.footer-address{

			order: 4;
			text-align: right;
			font-size: 20px;
		}

		.footer-social-media{

			order: 5;
			text-align: left;
		}

	}
}



@include media-breakpoint-up(sm){

	.footer .row{

		// padding-top: 60px;

		// flex-direction: column;

		position: relative;

		flex-wrap: wrap;

		height: 300px;

		.footer-logo{

			flex-basis: auto;


			order: 2;

			// flex-grow: 0;
			// flex-shrink: 0;
			width: 25%;

			position: absolute;
			top: 0;


			// background-color: red;

			// max-width: 200px;

		}


		.footer-info{

			// flex-basis: 33.3%;
			position: absolute;
			flex-basis: auto;
			text-align: left;
			order: 1;
			font-size: 15px;
			width: 25%;
			// margin-left: 25%;
			padding-bottom: 0px;
			padding-top: 85px;

			// top: 80px;
			// flex-grow: 0;

			span{

				display: block;
			}
		}


		.footer-address{
			position: absolute;

			order: 2;
			text-align: right;
			font-size: 15px;
			// flex-basis: 33.3%;
			flex-basis: auto;
			// flex-grow: 0;
			width: 41.5%;
			top: 115px;
			padding-top: 4px;
			padding-bottom: 0;
			right: 0;
		}


		.footer-social-media{

			position: absolute;
			width: auto;
			order: 5;
			text-align: left;
			top: 135px;
			right: 0px;

			// float: right;
		}
		

		.footer-phones{

			// flex-basis: 50%;
			flex-basis: auto;
			width: 41.5%;
			// margin-left: 25%;
			flex-shrink: 0;
			order: 6;

			text-align: right;

			div{

				display: block;

				&:after{

					content: ", ";
				}

				&:last-child:after{

					content: "";
				}

			}

		}


		.footer-menu{

			order: 3;
			flex-basis: auto;
			display: block;
			flex-shrink: 1;
			width: 16.6%;
			flex-grow: 0;
			margin-left: 25%;
			font-size: 12px;
			// margin-left: auto;


		}

		.footer-services{

			font-size: 12px;
			flex-basis: auto;
			order: 4;
			margin-left: auto;
			display: block;
			flex-shrink: 1;
			flex-grow: 0;
			width: 16.6%;
			margin-left: 0;
		}

	}
}

@media(min-width: 700px){

	.footer .row{
		
		.footer-phones{

			width: 33.3%;
		}


		.footer-menu{

			margin-left: 33.333%;
		}	

	}
			
}






@include media-breakpoint-up(md){
	
	.footer{	

		
		&>div{

			text-align: center;
			// justify-content: center;
			max-width: map-get($container-max-widths, md);

			&>.row{

				text-align: left;
			}
	
		}
	}
}










@include media-breakpoint-up(lg){
	
	.footer{	

		
		&>div{

			text-align: center;
			// justify-content: center;
			max-width: map-get($container-max-widths, lg);

			&>.row{

				text-align: left;
			}
	
		}




		.row>.footer-address{

			text-align: left;
			font-size: 19px;
			width: 33%;
			top: 125px;
			left: 15px;
			padding: 0;
			margin: 0;
		}


		.row>.footer-social-media{

			position: absolute;
			width: auto;
			order: 5;
			text-align: left;
			top: 150px;
			left: 0px;

			// float: right;
		}



		.footer-phones{


			font-size: 30px;

			div{

				display: block;

				&:after{

					content: ", ";
				}

				&:last-child:after{

					content: "";
				}


			}
		}

	}

}